APP_NAME=MinLish Backend
ENVIRONMENT=local
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://minlish:minlish@localhost:5432/minlish
STATIC_DIR=static
SECRET_KEY=change-this-local-secret-minlish-at-least-32-chars
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
BACKEND_CORS_ORIGINS=[]
